<div class="panel">
  <h2>RDF 对比</h2>
  <div class="row">
    <button id="btnList" disabled>列出文件</button>
    <select id="selComputed"></select>
    <input id="target" type="text" placeholder="目标 *.dist.tgt" />
    <button id="btnCompare" disabled>对比</button>
  </div>
  <div id="plot" class="plot"></div>
  <div id="clog" class="log"></div>
</div>
<script src="/js/compare.js"></script>
